<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Main Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body style="display:none">
    <div class="work-in-progress">
      Upgrade in progress, pardon the technical difficulty
    </div>
    <div class="main-content">
    <div class="death-screen">
      <div>Screen resolution not supported.</div>
    </div>
    <nav id="nav">
      <!-- <div class="nav-logo">AH</div> -->
      <ul class="nav-list">
        <li><a href="http://resume.akshayhemant.com/">Resume</a></li>
      </ul>
    </nav>

    <div id="moon"></div>
    <!-- <div id="ground"></div> -->
    <div class="hidden-sun"></div>

    <section id="header" class="border border-sky flex">
      <div id="sun"></div>
      <div class="main-container header flex flex-column">
        <h1 class="title">Hi I'm akshay hemant</h1>
        <h1 class="title">Fullstack Developer | Frontend developer</h1>
        <div class="header__links">
          <a href="#projects">Projects</a>
          <a href="#footer">Socials</a>
          <a href="#about">About me</a>
        </div>
      </div>
    </section>
    <section id="about" class="flex border border-surface about">
      
      <div class="main-container flex flex-column about border border-surface">
        <h1 class="title">About Me</h1>
        <div class="about__info__container">
          <div class="about__info__pic">
            <div class="about__info__pic__img">
              <img src="./assets/profile-pic.jpg" alt="" srcset="" />
            </div>
            <div class="about__info__pic__cap content">
              <p>Feelin' fresh</p>
            </div>
          </div>
          <div class="about__info__bio flex flex-column">
            <h1 class="title">Skills</h1>
            <ul class="about__skill-list content">
              <li>HTML - Intermediate</li>
              <li>CSS - Intermediate</li>
              <li>Javascript - Intermediate</li>
              <li>NodeJs - Intermediate</li>
              <li>ReactJs - Intermediate</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="flex border border-mantle">
      <div
        class="main-container projects flex flex-column flex-centered border border-mantle"
      >
        <h1 class="title">Projects</h1>
        <h3>Some of the projects I've done</h3>
        <div class="projects__container flex flex-column flex-centered">
          <div class="projects__item">
            <div class="projects__item__img flex flex-column flex-centered">
              <img src="assets/petrescyou-logo.jpg" />
              <img src="assets/petrescyou.jpg" />
            </div>
            <div class="projects__item__info flex flex-column">
              <h2 class="project__title title">Pet RescYou</h2>
              <p class="content">
                This was a project I had done created on the MERN stack. The idea was the
                make it easier for rescuers to keep a track of animals in their locality
              </p>
              <b>Code on <i class="fa fa-github"></i> GITHUB</b>
            </div>
            <div></div>
          </div>
          <div class="projects__item">
            <!-- <img src="../assets/petrescyou.jpg" alt="" srcset="" /> -->
            WORK IN PROGRESS
          </div>
        </div>
      </div>
    </section>

    <section id="footer" class="flex border border-core">
      <div class="main-container footer flex flex-column border border-core">
        <div class="footer__media flex flex-row">
          <div class="footer__media__link flex">
            <a href="https://www.linkedin.com/in/akshayhemant">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <div class="footer__media__link flex">
            <a href="https://www.facebook.com/akshayh">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </div>
          <div class="footer__media__link flex">
            <a href="https://www.github.com/astroprojection">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <div class='explosion'></div>
  </div>

    <script src="main.js"></script>
  </body>
</html>
